/* * {
  outline: 1px solid rgb(0, 255, 8);
  margin: 0;
  padding: 0;
} */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
  padding: 1rem;
  background-color: #fff;
  font-family: Nunito, sans-serif;
}

.app {
  /* display: flex;
  flex-direction: row; */
  background-color: #eee;
}

.navBar {
  justify-content: space-between;
  background-color: #1b1446;
  height: 100%;
  color: #fff;
  min-height: 4rem;
}

@media (min-width: 992px) {
  .navBar {
    justify-content: flex-start;
  }
}

.navItems {
  align-items: center;
  justify-content: center;
}

.navItems svg {
  width: 2rem;
  height: 2rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 4rem;
}

.logo {
  max-height: 3rem;
  /* width: 3rem;
  height: 3rem; */
}

.card {
  border: none;
}

.module-header {
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.achievement-badge {
  display: grid;
  border: 2px solid #F6AA1C;
  background: conic-gradient(from 180deg at 50% 110%, white, #F6AA1C);
  color: #1b1446;
  width: 100%;
  height: 5rem;
  border-radius: 0.5rem;
  margin: 0 auto;
  text-align: center;
  place-items: center;
  font-weight: 700;
}

.aspire-badge {
  display: grid;
  background-color: #fff;
  color: #1b1446;
  border: 2px solid #1b1446;
  width: 100%;
  height: 5rem;
  border-radius: 0.5rem;
  margin: 0 auto;
  text-align: center;
  place-items: center;
}

.module {
  background-color: #fff;
  border-radius: 0.75rem;
  /* margin: 1rem auto; */
}

.module .row {
  margin: 0rem;
}

.module h2 {
  padding: 0;
}

.module h3 {
  padding: 0;
}

.module h4 {
  padding: 0;
}

.plusButton {
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  line-height: 0;
  background-color: white;
  color: #1b1446;
  text-align: center;
  font-weight: 900;
  border-radius: 50%;
  border: none;
}

.plusButton:active {
  background-color: #1b1446;
  color: white;
}

.power-level {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  background-color: #1b1446;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.hero {
  display: grid;
  vertical-align: center;
  background-color: #1B1446 ;
  /* background-color: #fff; */
  /* background-color: #8D89A6; */
  color: #fff;
}

.active svg {
  fill: #ed1e79;
}

.inactive svg {
  fill: #ffffff77;
}

.accentBG {
  background-color: #ed1e79;
}

.midnightBG {
  background-color: #1b1446;
}

.text-accent {
  color: #ed1e79;
}

.text-midnight {
  color: #1b1446;
}

a svg {
  color: #ffffff77;
}

a:hover svg {
  fill: #ed1e79;
}

.editlist:hover {
  background-color: #1b1446;
}

.editlist:active {
  background-color: #ed1e79;
  transform: scale(0.95);
  transform-origin: center;
}

.updateBTN:hover {
  background-color: #1b1446;
}

.updateBTN:active {
  background-color: #ed1e79;
  transform: scale(0.95);
  transform-origin: center;
}

.delBTN:hover {
  background-color: red;
}

.delBTN:active {
  transform: scale(0.95);
  transform-origin: center;
  background-color: #1b1446;
}

.resetButton {
  border: 1px solid white;
  color: #fff;
  height: 2rem;
  line-height: 0%;
}

.resetButton:hover {
  background-color: #fff;
  color: #ed1e79;
}

.resetButton:active {
  background-color: #fff;
  color: #ed1e79;
}

.MuiSnackbarContent-root, .active-habit {
  background-color: #1b1446!important;
}

